@tailwind base;
@tailwind components;
@tailwind utilities;
/* Pour Chrome, Safari, Edge, Opera */
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Pour Firefox */
.no-spinner {
  -moz-appearance: textfield;
}
.error {
  color: red;
  font-weight: italic;
  margin-top: 3px;
}
